<% include ../include/header_public.html %>

<div style="float: left">
	<h2>Login with an existing account</h2>
	<form ng-controller="LoginController" name="loginForm">
		<div class="control-group" ng-class="{error: loginForm.username.$invalid}">
			<label>Name</label>
			<input type="text" name="username" ng-model="username" required>
			<span ng-show="loginForm.username.$error.required" class="help-inline">Required</span>
		</div>

		<div class="control-group" ng-class="{error: loginForm.password.$invalid}">
			<label>Password</label>
			<input type="password" name="password" ng-model="password" required>
			<span ng-show="loginForm.password.$error.required" class="help-inline">Required</span>
		</div>

		<button ng-click="save()" ng-disabled="loginForm.$invalid" class="btn btn-primary">login</button>
	</form>
</div>

<div style="float: left; margin-left: 25px">
	<h2>Register a new account</h2>
	<form ng-controller="RegisterController" name="registerForm">
		<div class="control-group" ng-class="{error: registerForm.username.$invalid}">
			<label>Name</label>
			<input type="text" name="username" ng-model="username" required>
			<span ng-show="registerForm.username.$error.required" class="help-inline">Required</span>
			<span ng-show="!is_unique()" class="help-inline">Please pick a different user</span>
		</div>

		<div class="control-group" ng-class="{error: registerForm.password.$invalid}">
			<label>Password</label>
			<input type="password" name="password" ng-model="password" required>
			<span ng-show="registerForm.password.$error.required" class="help-inline">Required</span>
		</div>

		<button ng-click="save()" ng-disabled="registerForm.$invalid" class="btn btn-primary">register</button>
	</form>
</div>

<% include ../include/footer_public.html %>
