<html ng-app="app">
  <head>
		<!-- javascript -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script src="//code.angularjs.org/1.2.0rc1/angular.min.js"></script>
		<script src="//code.angularjs.org/1.2.0rc1/angular-route.min.js"></script>
		<script src="//code.angularjs.org/1.2.0rc1/angular-cookies.min.js"></script>
		<script src="angular/ui.date.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="angular/app.js"></script>
		<script src="angular/services.js"></script>
		<script src="angular/controllers.js"></script>
		<script src="angular/directives.js"></script>

		<!-- css -->
		<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="style.css" rel="stylesheet" />
	</head>
	<body style="margin-left:10%">
		<h1>Basic ToDo List</h1>

		<div style="float: left" ng-controller="LoginController">
			<div ng-show="show_login">
				<h2>Login with an existing account</h2>
				<form  name="loginForm">
					<div class="control-group" ng-class="{error: loginForm.username.$invalid}">
						<label>Name</label>
						<input type="text" name="username" ng-model="username" required>
						<span ng-show="loginForm.username.$error.required" class="help-inline">Required</span>
					</div>

					<div class="control-group" ng-class="{error: loginForm.password.$invalid}">
						<label>Password</label>
						<input type="password" name="password" ng-model="password" focus="{{password_focus}}" required>
						<span ng-show="loginForm.password.$error.required" class="help-inline">Required</span>
					</div>

					<div ng-show="wrong">
						wrong password or username
					</div>

					<button ng-click="login()" ng-disabled="loginForm.$invalid" class="btn btn-primary">login</button>
				</form>
			</div>

			<div ng-show="show_logout" style="margin-top:30px;margin-right:80px;">
				<p>Welcome {{username}}</p>
				<button ng-click="logout()" class="btn btn-primary">logout</button>
			</div>
		</div>

		<div style="float: left; margin-left: 25px" ng-view></div>

	</body>
</html>
