<h2>Todo</h2>
<div ng-controller="TodoController">
	<span>{{remaining()}} of {{todos.length}} remaining,</span>
	<span>sort by</span>
	<select ng-model="sort.attribute" ng-change="sort.change()">
		<option>priority</option>
		<option>deadline</option>
	</select>
	<select ng-model="sort.order" ng-change="sort.change()">
		<option>ascending</option>
		<option>descending</option>
	</select>
	<br />
	<br />

	<ul class="unstyled">
		<li ng-repeat="todo in todos" style="margin-bottom: 10px;">
			<form ng-submit="editTodo(todo)" name="editTodoForm">
				<input type="checkbox" ng-model="todo.done" ng-show="!todo.edit" title="Done">

				<span class="title done-{{todo.done}}" ng-show="!todo.edit">{{todo.title}}</span>
				<input class="title" name="title" ng-show="todo.edit" ng-model="todo.title" required />

				<span class="description done-{{todo.done}}" ng-show="!todo.edit">{{todo.description}}</span>
				<input class="description" name="description" ng-show="todo.edit" ng-model="todo.description" required />

				<span class="priority done-{{todo.done}}" ng-show="!todo.edit">{{todo.priority}}</span>
				<select class="priority" ng-model="todo.priority" ng-show="todo.edit" ng-options="p for p in addTodo.priorities" required>
					<option value="" disabled selected style="display:none;">priority</option>
				</select>

				<span class="deadline done-{{todo.done}}" ng-show="!todo.edit">{{todo.deadline.toDateString()}}</span>
				<input type="text" ng-model="todo.deadline" class="deadline" ng-show="todo.edit" ui-date required />

				<input class="btn-primary" type="submit" value="edit" ng-disabled="editTodoForm.$invalid" ng-show="todo.edit" />
				<span ng-show="todo.edit">or <a href="" ng-click="todo.edit = false">cancel</a></span>
				<span class="sprite edit" ng-click="todo.edit = true" title="Edit" ng-show="!todo.edit"></span>
				<span class="sprite delete" ng-click="deleteTodo(todo)" title="Delete" ng-show="!todo.edit"></span>
			</form>
		</li>
	</ul>

	<form ng-submit="addTodo.submit()" name="addTodoForm" style="margin-left: 55px;">
		<input type="text" ng-model="addTodo.title" class="title" placeholder="title" required />

		<input type="text" ng-model="addTodo.description" class="description" placeholder="description" required />

		<select class="priority" ng-model="addTodo.priority" ng-options="p for p in addTodo.priorities" required>
		  <option value="" disabled selected style="display:none;">priority</option>
		</select>

		<input type="text" ng-model="addTodo.deadline" class="deadline" placeholder="deadline" ui-date required />

		<input class="btn-primary" type="submit" value="add" ng-disabled="addTodoForm.$invalid" />
	</form>
</div>
