<h2>Todo</h2>
<div ng-controller="TodoController">
	<span>{{remaining()}} of {{todos.length}} remaining,</span>
	<span>sort by</span>
	<select ng-model="sort.attribute" ng-change="sort.change()">
		<option>priority</option>
		<option>deadline</option>
	</select>
	<select ng-model="sort.order" ng-change="sort.change()">
		<option>ascending</option>
		<option>descending</option>
	</select>
	<br />
	<br />

	<ul class="unstyled">
		<li ng-repeat="todo in todos" style="margin-bottom: 10px;">
			<input type="checkbox" ng-model="todo.done" title="done">
			<span class="title done-{{todo.done}}">{{todo.title}}</span>
			<span class="description done-{{todo.done}}">{{todo.description}}</span>
			<span class="priority done-{{todo.done}}">{{todo.priority}}</span>
			<span class="deadline done-{{todo.done}}">{{todo.deadline.toDateString()}}</span>
			<span class="delete" ng-click="deleteTodo(todo)" title="delete"><span>x</span></span>
		</li>
	</ul>

	<form ng-submit="addTodo.submit()" name="addTodoForm" style="margin-left: 55px;">
		<input type="text" ng-model="addTodo.title"  size="11" placeholder="title" required>
		<input type="text" ng-model="addTodo.description"  size="36" placeholder="description" required>
		<select id="priority" ng-model="addTodo.priority" ng-options="p for p in addTodo.priorities" required>
		  <option value="" disabled selected style="display:none;">priority</option>
		</select>
		<input type="text" ng-model="addTodo.deadline"  size="14" placeholder="deadline" ui-date required>
		<input class="btn-primary" type="submit" value="add" ng-disabled="addTodoForm.$invalid">
	</form>
</div>
